.draggablenote
{
	border-color: #999;
	min-height: 50px;
	min-width: 200px;
	max-width: 400px;
	display: inline-block;
	vertical-align: top;
	padding: 5px;
	background: #e2e4e6;
	-moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
 	/* Safari+Chrome */
	 -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	/* Opera */
	 box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	 position: absolute !important;
	 border-radius: 2px;
}

.draggablenote:focus {
  box-shadow: 15px 15px 7px rgba(10,10,10,.7);
}

html, body
{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	/*overflow: auto;*/
	background: #0079bf;
	font-family: sans-serif;
}

#menu
{
	height:30px;
	background: #fff;
}

#plus
{
	float:left;
}

#board-name
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	height: 60%;
	vertical-align: middle;
	min-width:200px;
	background-color: #e6e6e6;
	text-align: center;
	font-size: x-large;	
}

#message-box
{
	position: fixed!important;
	top: 50%;
	left:50%;
	padding:12px;
	color: #fff;
	font-size: xx-large;
}

#boards
{
	width:100%;
	height: 100%;
	padding-top:20px;
}

.board
{
	width:100%;
	height: 100%;
}

.title
{
	display:block;
	font-weight: bold;
	font-size: medium;
	padding-left:5px;
	margin-bottom: 5px;
	text-align: center;
}

ul {
    margin: 0px 0px 0px 20px;
    padding: 0;
    list-style-type: none;
}

.draggablenote > ul
{
	margin: 0;
}

li {
	margin-bottom: 5px;
	margin-top: 5px;
}

.subtask-icon
{
	width: 15px;
	vertical-align: middle;
	float: left;
	background-color: inherit;
	line-height: 1.5em;
	display: inline-block;
	height: auto;
	min-height: 1px;
/* 	background-image: url("../images/down.png"); */
}

.expand-image
{
	width: 60%;
	height: auto;
}

.edit-list-span {
	/*border: 1px solid #3465a4;*/
	border-bottom: 1px solid #ccc;
	padding: 4px 10px;
    background: #fff;
    font-size: 14px;
    transition: 0.2s;
    line-height: 1.5em;
    display: block;
    overflow:hidden;
    letter-spacing: 0.02em;
    border-radius: 4px;
    /*color: #222;*/
}

.move-option-dropdown
{
	z-index: 1000;
	position:absolute !important;
	top:100px;
	left:100px;
  	margin: 0 auto;
  	background: #ecf0f1;
  	display: none;
}

.move-option-dropdown li
{
	font-size:x-large; 
	min-width:100px;
	margin: 2px 2px;
	padding: 2px 30px;
	background: #bdc3c7;
}

.move-option-dropdown li:FOCUS
{
	background: #fff;
}