.draggablenote
{
	border: 1px solid;
	min-height: 50px;
	min-width: 250px;
	display: inline-block;
	/* width:40px; */
}

#notes
{
	min-height: 800px;
	width:800px;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 5px 8px 5px 40px;
    background: #eee;
    font-size: 14px;
    transition: 0.2s;

}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}



/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 16px 5px 16px
}

.close:hover {
    background-color: #f44336;
    color: white;
}

/* Style the header */
.header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
input {
    border: none;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}